<h1><%= @game_room.game_name %></h1>
    <ul>
        <li><%= @game_room.game_description %></li>
        <li>Creator: <%= @game_room.admin_name %></li>
    </ul>

<% if @game_room.players.include?(@current_user) %>

    <p>You're In This Game!</p>
    <% if !!@current_game_player && (@game_room.admin != @current_user) %>

        <%= link_to 'Leave This Game Room', game_player_path(@current_game_player), method: :delete %>  

    <% end %>

<% else %>

    <%= form_for @game_player do |f| %>
        <%= f.hidden_field :game_room_id, value: @game_room.id %>
        <%= f.submit "Join This Game"%>
    <% end%><br>

    <%= link_to "Return to Game Room List", game_rooms_path %><br>

<% end %>

<% if @game_room.admin == @current_user %>

    <%= link_to 'Delete This Game Room', game_room_path(@game_room), method: :delete %>  

<% end %>