<h1><%= @game_room.game_name %></h1>
    <ul>
        <li><%= @game_room.game_description %></li>
        <li>Creator: <%= @game_room.admin_name %></li>
    </ul>

    <h3>Current Players</h3>
        <% @game_room.players.each do |player| %>

            <ul>
                <li><%= player.name %></li>
            </ul>

        <% end %>

<% if @game_room.active %>

    <h3>THIS GAME IS ACTIVE</h3>
    
<% end %>

<% if @game_room.active || (@game_room.admin == @current_user) %>

    <h3>Missions</h3>
    <% @game_room.missions.each do |mission| %>

        <ul>
            <li><%= mission.name %>: <%= mission.content %></li>
        </ul>

        <h4>Completed? Upload your photo here!</h4>
        <%= form_for @comment do |f| %>
            
            <%= f.hidden_field :game_room_id, value: @game_room.id %>
            <%= f.hidden_field :user_id, value: @current_user.id %>
            <%= f.hidden_field :mission_id, value: mission.id %>
            
            <%= f.label :photo %>
            <%= f.file_field :photo %><br>

            <%= f.label :content %>
            <%= f.text_field :content %><br>

            <%= f.submit "Create Comment"%>

        <% end %>


    <% end %>

<% end %>

<% if @game_room.players.include?(@current_user) %>

    <p>You're In This Game!</p>
    <% if !!@current_game_player && (@game_room.admin != @current_user) %>

        <%= link_to 'Leave This Game Room', game_player_path(@current_game_player), method: :delete %>  

    <% end %>

<% elsif @game_room.admin != @current_user %>

    <%= form_for @game_player do |f| %>
        <%= f.hidden_field :game_room_id, value: @game_room.id %>
        <%= f.submit "Join This Game"%>
    <% end%><br>

    <%= link_to "Return to Game Room List", game_rooms_path %><br>

<% end %>

<% if @game_room.admin == @current_user %>

    <p>This is your game!</p>

    <% if @game_room.active %>
        <%= link_to "Deactivate This Game", deactivate_game_room_path(@game_room), method: :post %><br>
    <% else %>
        <%= link_to "Activate This Game", activate_game_room_path(@game_room), method: :post %><br>
    <% end %>

    <%= link_to 'Delete This Game Room', game_room_path(@game_room), method: :delete %>  

<% end %>

<h3>Comments</h3>

<% @game_room.comments.each do |comment| %>

    <p><%= comment.mission_name %></p>
    <p><%= image_tag comment.photo, size: "60x40" %></p><br>
    <p>"<%= comment.content %>" -<%= comment.user_name %></p>
    
    <br><br>

<% end %>