<div class="container">
<div class="game-info">
    <h1><%= @game_room.admin_name %>'s <%= @game_room.game_name %></h1>
    <% if @game_room.winner == @current_user %>
        <div class="text-success">
            <h2>You won this game!</h2>
        </div>
    <% elsif !@game_room.players_who_completed_all_missions.empty? %>
        <div class="text-success">
            <h2>This game's winner is <%= @game_room.winner_name %>!</h2>
        </div>
    <% elsif @game_room.active%>
        <h2 class="text-success">ACTIVE</h2>
    <% end %>
        <p><%= @game_room.game_description %></p>
</div>

<%# Show this section if the current user is the admin of this game room%>
<% if @game_room.admin == @current_user %>
    <div class="game-room admin">

        <%= link_to "View Admin Page", game_room_admin_path(@game_room), class: "btn btn-primary" %>

    </div>
<% end %>

<div class="game-room players">
    <h2>Current Players</h2>
        <ul>
            <% @game_room.players.each do |player| %>
                <% if player == @current_user %>
                    <li class='bold'><%= player.name %></li>
                <% else %>
                    <li><%= player.name %></li>
                <% end %>
            <% end %>
        </ul>
    
    <%# Show this section if the current user is a player in this game room%>
    <% if @game_room.players.include?(@current_user) %>

        <% if !!@current_game_player && (@game_room.admin != @current_user) %>

            <%= button_to 'Leave This Game Room', game_player_path(@current_game_player), method: :delete, class: "btn btn-danger" %>
        
        <% end %>
    
    <%# Show this section if the current user is not the admin and they're not a player in this game room%>
    <% elsif @game_room.admin != @current_user %>

        <%= form_for @game_player do |f| %>
            <%= f.hidden_field :game_room_id, value: @game_room.id %>
            <%= f.submit "Join This Game Room", class: "btn btn-success" %>
        <% end%>

    <% end %>
    
    <%= link_to "Return to Game Room List", game_rooms_path, class: "badge badge-secondary" %><br>

</div>


<%# Show this section if the game is active or if this is the current user is the game room admin%>
<% if @game_room.active || (@game_room.admin == @current_user) %>

    <h2>Missions</h2>
        
        <% @game_room.missions.each do |mission| %>

            <% if @current_user.game_room_completed_missions(@game_room).include?(mission)%>
                <div class="card border-success mb-3">
                    <div class="card-header">
                        <h4>✅ <%= mission.name %></h4>
                    </div>
                    <div class="card-body text-success">
            <% elsif @current_user.game_room_unreviewed_missions(@game_room).include?(mission) %>
                <div class="card border-warning mb-3">
                    <div class="card-header">
                        <h4>⚠️ <%= mission.name %> - You have a photo pending!</h4>
                    </div>
                    <div class="card-body text-warning">
            <% elsif @current_user.game_room_rejected_missions(@game_room).include?(mission) %>
                <div class="card border-danger mb-3">
                    <div class="card-header">
                        <h4>🚫 <%= mission.name %> - Your photo was rejected!</h4>
                    </div>
                    <div class="card-body text-danger">
            <% else %>
                <div class="card border-secondary mb-3">
                    <div class="card-header">
                        <h4><%= mission.name %></h4>
                    </div>
                    <div class="card-body">
            <% end %>

                
                        <h5 class="card-title"><%= mission.content %></h5><hr>
                    </div>

                    <% if !@game_room.complete && (@game_room.admin != @current_user) && !@current_user.game_room_completed_missions(@game_room).include?(mission) %>
                        <div class="card-text">
                            <%= form_for @comment do |f| %>
                                
                                <%= f.hidden_field :game_room_id, value: @game_room.id %>
                                <%= f.hidden_field :user_id, value: @current_user.id %>
                                <%= f.hidden_field :mission_id, value: mission.id %>

                                <div class="form-group">
                                    <%= f.file_field :photo, class: "form-control-file" %>
                                </div>

                                <div class="form-group">
                                    <%= f.text_field :content, placeholder: "Add a comment" %>
                                </div>

                                <%= f.submit "Submit", class: "btn btn-secondary" %><br>

                            <% end %>
                        </div>

                    <% end %>

                </div>

        <% end %>

<% end %>

<h3>Comments</h3>

    <% @game_room.comments_sorted_most_recent_first.each do |comment| %>
        
        <div class="card border-secondary mb-3">
            <div class="card-header">

                <% if comment.approved %>
                    <h5 class="card-title">✅ <%= comment.mission_name %></h5>
                <% elsif comment.approved == false %>
                    <h5 class="card-title">🚫 <%= comment.mission_name %></h5>
                <% else %>
                    <h5 class="card-title"><%= comment.mission_name %></h5>
                <% end %>
                <p><%= comment.mission_content %></p>

                <% if @game_room.admin == @current_user %>

                        <%= form_for comment do |f| %>
                            <%= f.hidden_field :approved, value: true %>
                            <%= f.submit "Approve", class: "btn btn-success" %>
                        <% end%>

                        <%= form_for comment do |f| %>
                            <%= f.hidden_field :approved, value: false %>
                            <%= f.submit "Reject", class: "btn btn-danger"%>
                        <% end%>

                <% end %>
            </div>
            <%= image_tag comment.photo, class: "card-img-top", class: "img-fluid" %>
            
            <div class="card-body text-center">
                
                <% if !comment.content.empty? %>
                    <p class="card-text">"<%= comment.content %>" -<%= link_to comment.user_name, user_path(comment.user) %></p>
                <% else %>
                    <p class="card-text">-<%= link_to comment.user_name, user_path(comment.user) %></p>
                <% end %>

            </div>

            <div class="card-footer text-muted">

                <%= comment.display_datetime %>

            </div>

        </div>

    <% end %>