<div class="container">
<div class="game-info">
    <h1><%= @game_room.admin_name %>'s <%= @game_room.game_name %></h1>
    <% if @game_room.active %>
        <h2 class="green">ACTIVE</h2>
    <% end %>
        <p><%= @game_room.game_description %></p>
</div>

<%# Show this section if the current user is the admin of this game room%>
<% if @game_room.admin == @current_user %>
    <div class="game-room admin">

        <h2>Admin Powers:</h2>

        <% if @game_room.active %>
            <%= button_to "Deactivate This Game", deactivate_game_room_path(@game_room), method: :post %><br>
        <% else %>
            <%= button_to "Activate This Game", activate_game_room_path(@game_room), method: :post %><br>
        <% end %>

        <%= button_to 'Delete This Game Room', game_room_path(@game_room), method: :delete, data: { confirm: "Are you sure?" } %>

    </div>
<% end %>

<% if !@game_room.players_who_completed_all_missions.empty? %>
    <div class="game-room winner">
        <h3>This game's winner is <%= @game_room.winner_name %>!</h3>
    </div>
<% end %>

<div class="game-room players">
    <h2>Current Players</h2>
        <ul>
            <% @game_room.players.each do |player| %>
                <% if player == @current_user %>
                    <li class='bold'><%= player.name %></li>
                <% else %>
                    <li><%= player.name %></li>
                <% end %>
            <% end %>
        </ul>
    
    <%# Show this section if the current user is a player in this game room%>
    <% if @game_room.players.include?(@current_user) %>

        <% if !!@current_game_player && (@game_room.admin != @current_user) %>

            <%= button_to 'Leave This Game Room', game_player_path(@current_game_player), method: :delete %>

        <% end %>
    
    <%# Show this section if the current user is not the admin and they're not a player in this game room%>
    <% elsif @game_room.admin != @current_user %>

        <%= form_for @game_player do |f| %>
            <%= f.hidden_field :game_room_id, value: @game_room.id %>
            <%= f.submit "Join This Game"%>
        <% end%>

        <%= link_to "Return to Game Room List", game_rooms_path %><br>

    <% end %>

</div>


<%# Show this section if the game is active or if this is the current user is the game room admin%>
<% if @game_room.active || (@game_room.admin == @current_user) %>

    <div class="game-room missions">

        <h2>Missions</h2>
        <% @game_room.missions.each do |mission| %>

            <h4><%= mission.name %>: <%= mission.content %></h4>

            <% if @game_room.admin != @current_user %>
            
                <%= form_for @comment do |f| %>
                    
                    <%= f.hidden_field :game_room_id, value: @game_room.id %>
                    <%= f.hidden_field :user_id, value: @current_user.id %>
                    <%= f.hidden_field :mission_id, value: mission.id %>
                    
                    <%= f.label :photo %>
                    <%= f.file_field :photo %><br>

                    <%= f.label "Add a Comment" %>
                    <%= f.text_field :content %><br>

                    <%= f.submit "Submit" %>

                <% end %>

            <% end %>

        <% end %>
    </div>
<% end %>

<h3>Comments</h3>

<% @game_room.comments.each do |comment| %>

    <p><%= comment.mission_name %></p>
    <p><%= image_tag comment.photo, size: "60x40" %></p><br>
    <p>"<%= comment.content %>" -<%= comment.user_name %></p>
    <% if comment.approved %>
        <p>This comment has been approved!</p>
    <% end %>
    
    <br><br>
   <% if @game_room.admin == @current_user %>
        <%= form_for comment do |f| %>
        <%= f.label :"mark if this photo meets the mission expectations"%>
        <%= f.check_box :approved %><br>
        <%= f.submit %> 
        <% end %>
        <% end %>

<% end %>
</div>