<div class="container">

<div class="container">
<%= form_for @user, html: {class: 'form-signin'} do |f| %>
<h2 class="form-signin-heading">Sign up</h2>

    <%= f.label :name, {class: "sr-only"} %>
    <%= f.text_field :name,{ id: "inputEmail", class: "form-control", placeholder: "Name"} %><br>

    <%= f.label :password, {class: "sr-only"} %>
    <%= f.password_field :password,{ id: "inputEmail", class: "form-control", placeholder: "Password"} %><br>

    <%= f.label :password_confirmation, {class: "sr-only"} %>
    <%= f.password_field :password_confirmation,{ id: "inputEmail", class: "form-control", placeholder: "Password Confirmation"} %><br>

    <%= f.submit "Submit", {class: "btn btn-lg btn-primary btn-block"} %>

<% end %>
</div>
</div>