
<h1>Create a new game</h1>
<%= form_for @game do |f| %>
<%= f.label :name %>
<%= f.text_field :name %><br>
<%= f.label :description %>
<%= f.text_area :description %><br>
<h4>Create 7 missions for your scavenger hunt!</h4>
<% count = 0 %>
<% 7.times do %>
    <% count += 1 %>
    <h5>Mission #<%= count %></h5>
  <%= f.fields_for :missions do |miss| %>
    <%= miss.label :name %>
    <%= miss.text_field :name %><br>
    <%= miss.label :description %>
    <%= miss.text_area :content %><br>
    <% end %>
<%end %>
<%= f.submit %>
<% end %>

