<h1 class="center"><%= @game.name %></h1>
<p class="center"><%= @game.description %></p>

<h2 class="game">Missions</h2>

        <% @game.missions.each do |mission| %>
                
                <div class="card border-secondary mb-3">
                        <div class="card-header">
                                <h4><%= mission.name%></h4>
                        </div>

                        <div class="card-body">
                                <%= mission.content %>
                        </div>
                </div>
        <% end %>

<%= form_for @game_room do |f| %>
        <%= f.hidden_field :game_id, value: @game.id %>
        <%= f.submit "Make Gameroom", class: "btn btn-primary"%>
<% end%>
<br>

<%= link_to "Return to Game List", games_path, class: "btn btn-lg btn-primary" %>