<!DOCTYPE html>
<html>
  <head>
    <title>Mod2Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
        <ul>
          
          <li class="navbar-brand"><%= link_to "Pic Hunt", root_path %></li>
          
          <% if session[:user_id] %>

            <li><%= link_to 'Logout', logout_path, method: :destroy %></li>
            <li><%= link_to current_user.name, root_path %></li>

          <% else%>

            <li><%= link_to 'Sign Up', new_user_path %><br></li>
            <li><%= link_to 'Login', login_path %></li>

          <% end %>

        </ul>
    </nav>

    <%= yield %>

  </body>
</html>
